<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>猜电影</title>
  <style>
    * {
      margin: 0;
      padding: 0;
      list-style: none;
      text-decoration: none;
    }
    html,
    body {
      width: 100%;
      height: 100%;
    }
    .cover {
      width: 100%;
      text-align: center;
    }
    #btn {
      border: 1px solid #00b600;
      padding: .4rem;
      border-radius: 5px;
      margin-top: 1.5rem;
      background: #fff;
      color: #00b600;
      font-size: 1rem;
      font-weight: 700;
    }
    .list {
      box-sizing: border-box;
      padding: 1rem .5rem;
      width: 100%;
      overflow: hidden;
    }
    .list>.item {
      width: 33.3333%;
      height: 10rem;
      box-sizing: border-box;
      padding: .5rem .2rem;
      float: left;
    }
    .list>.item>a {
      display: block;
      width: 100%;
      height: 100%;
    }
    .list>.item>a>.cover {
      width: 100%;
      height: 7rem;
    }
    .list>.item>a>.cover>img {
      display: block;
      width: 100%;
      height: 6.5rem;
    }
    .list>.item>a>.info>h3 {
      text-align: center;
      font-size: .6rem;
      color: #494949;
    }
    .list>.item>a>.info>.rank {
      text-align: center;
      font-size: .6rem;
      color: #9b9b9b;
    }
    .page {
      box-sizing: border-box;
      padding: 1rem .5rem;
      width: 100%;
    }
    .page>.info {
      width: 100%;
      height: 7.6rem;
    }
    .page>.info>.right {
      float: right;
      width: 35%;
    }
    .page>.info>.right>a {
      display: block;
      width: 100%;
    }
    .page>.info>.right>a>img {
      display: block;
      width: 100%;
      height: 7.6rem;
    }
    .page>.info>.left {
      float: left;
      width: 56%;
    }
    .page>.info>.left>p {
      font-size: .7rem;
      color: #494949;
    }
    .page>.info>.left>.rating {
      margin: .2rem 0 .8rem 0;
    }
    .page>.info>.left>.meta {
      font-size: .6rem;
      line-height: 1.1rem;
    }
    .page>.info>.left>.rating>span {
      color: lightgreen;
      margin: .2rem 0 .8rem 0;
    }
    .page>.info>.left>.rating>.ratingNum {
      margin-left: .5rem;
      color: #aaa;
    }
    .loading {
      height: 2rem;
      color: #292929;
      font-size: 14px;
      text-align: center;
      display: none;
    }
  </style>
</head>
<body>
  <div class="cover">
    <button id="btn">开始录音</button>
  </div>

  <ul class="list">
  </ul>
  <div class="loading">
    加载中...
  </div>

  <script type="text/javascript" src="./js/rem.js"></script>
  <script type="text/javascript" src="https://cdn.bootcdn.net/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script type="text/javascript" src="http://res.wx.qq.com/open/js/jweixin-1.6.0.js"></script>
  <script type="text/javascript">

   window.onload = function() {

    wx.config({
      debug: true, // 开启调试模式,调用的所有api的返回值会在客户端alert出来，若要查看传入的参数，可以在pc端打开，参数信息会通过log打出，仅在pc端时才会打印。
      appId: 'wxb5dabc2ad62d2b8e', // 必填，公众号的唯一标识
      timestamp: '<%= timestamp %>', // 必填，生成签名的时间戳
      nonceStr: '<%= noncestr %>', // 必填，生成签名的随机串
      signature: '<%= signature %>',// 必填，签名
      jsApiList: [ // 必填，需要使用的JS接口列表
        'startRecord',
        'stopRecord',
        'translateVoice'
      ] 
    });

    wx.ready(function(){
      // config信息验证后会执行ready方法，所有接口调用都必须在config接口获得结果之后，config是一个客户端的异步操作，所以如果需要在页面加载时就调用相关接口，则须把相关接口放在ready函数中调用来确保正确执行。对于用户触发时才调用的接口，则可以直接调用，不需要放在ready函数中。
      var isRecord = false

      $('#btn').on('click', function() {
        if(!isRecord) { //未在录音
          wx.startRecord()
          isRecord = true
          $('#btn').html('结束录音')
        }else { //在录音
          wx.stopRecord({
            success: function (res) {
              isRecord = false
              $('#btn').html('开始录音')
              var localId = res.localId; //录音结束后，音频上传到微信服务器，微信服务器返回开发者该段录音的id

              wx.translateVoice({
                localId: localId, // 需要识别的音频的本地Id，由录音相关接口获得
                isShowProgressTips: 1, // 默认为1，显示进度提示
                success: function (res) {

                  $('.loading').show()
                  
                  // 查询对应信息
                  let translateResult = res.translateResult.replace(/[\！|\；|\：|\“|\”|\，|\。|\？]/g,'')
                  const url = `/search_movie?q=${translateResult}`
                  $.get(url, function(data) {

                    $('.loading').hide()
                    
                    if(data.code === 0 && data.list.length) {
                      let html = ''

                      data.list.forEach(item => {
                        html += `<li class="item">
                          <a href="/detail/${item.doubanId}">
                            <div class="cover">
                              <img src="<%= mediaUrl %>/${item.posterKey}" alt="${item.title}" data-x="2000" data-y="2963" class="img-show" style="width: 100%">
                            </div>
                            <div class="info">
                              <h3>${item.title}</h3>
                              <p class="rank">
                                <span>评分：</span>
                                <span class="rating">${item.score}</span>
                              </p>
                            </div>
                          </a>
                        </li>`
                      })

                      $('.list').html(html)

                    }else {
                      alert('暂无相关电影信息~')
                    }
                  })
                },
                fail() {
                  alert('语音识别失败~')
                }
              })
            },
            complete() {
              isRecord = false
              $('#btn').html('开始录音')
            }
          });
        }
      })
    });

    wx.error(function(res){
      // config信息验证失败会执行error函数，如签名过期导致验证失败，具体错误信息可以打开config的debug模式查看，也可以在返回的res参数中查看，对于SPA可以在这里更新签名。
      alert(`error: ${res}`)
    });

   }
    
  </script>
</body>
</html>